<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="author" content="<%= author %>" />
    <meta name="date" content="<%= date %>" />
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>By <%= author %> | <%= date %></p>
    </header>

    <main><%= content %></main>

    <footer>
      <p>Generated with <strong>Static Site CLI</strong></p>
    </footer>
  </body>
</html>
